body{
    margin-top: 40px;
}

.contact-section {
  background-color: #f7f7f7;
  padding: 50px 20px;
  text-align: center;
}

.contact-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
}

.contact-form button {
  padding: 12px;
  background-color:  rgb(91, 53, 53);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color:  rgb(91, 53, 53);
}
